/* You can add global styles to this file, and also import other style files */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 1em;
}